
.productGalleryContainer{
    background-color: #d6d6d6;
    padding: 10px;
  /*   height: 100%; 
    overflow:auto; */
}
.productGalleryContainer .productGallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
}
.productGalleryContainer .productGallery img {
    object-fit: contain;
    width:400px;
    height:400px;
    cursor: pointer;
    background-color: white;
}
.productGalleryContainer .productGallery .lifeStyle{
    width: 100%;
    grid-column-start: 1; 
    grid-column-end: 3;
   /*  grid-column: 1 / span 2; */
    cursor: default;
    object-fit: cover;
}
.displayNone{
    display: none;
}
.productGalleryContainer .productGalleryPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    z-index: 200;
    overflow: scroll;
}

.productGalleryPopUp__images {
  /*   overflow: scroll; */
   /*  height: 100%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background-color: #d6d6d6;
    scroll-snap-type: y mandatory;
}
.productGalleryPopUp .childSnap{
    scroll-snap-align: start;
}
.productGalleryContainer .productGalleryPopUp__images img {
    width: 100%;
}
button.productGalleryPopUp__close {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.productGalleryContainer__mobile{
    display: none;
}

@media only screen and (max-width: 840px) and (min-width: 601px) {
    .productGalleryContainer{
        display: none;
    }
    .productGalleryContainer__mobile{
        display: block;
        background-color: #EFEFEF;
    }
    .productGalleryContainer__mobile .productGallery {
        display: flex;
        overflow: scroll;
        width: 100%;
        scroll-snap-type: x mandatory;
    }
    .productGalleryContainer__mobile img{
        width: 100%;
    }
      
    .productGalleryContainer__mobile  .child {
        scroll-snap-align: start;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .productGalleryContainer{
        display: none;
    }
    .productGalleryContainer__mobile{
        display: block;
        background-color: #EFEFEF;
    }
    .productGalleryContainer__mobile img{
        width: 100%;
    }
    .productGalleryContainer__mobile .productGallery {
        display: flex;
        overflow: scroll;
        width: 100%;
        scroll-snap-type: x mandatory;
    }
    .productGalleryContainer__mobile  .child {
        scroll-snap-align: start;
    }
}